# Cloudflare dashboard URL
CF_BASE_URL=https://scalping-dashboard.pages.dev

# Cron secret (same as in Cloudflare)
CRON_SECRET=scalp-alert-2026-secret

# Which bots to monitor (comma-separated)
BOT_IDS=A,B,C

# Bot A Alpaca (paper)
ALPACA_API_KEY=PKRHM2FGVOHUYJOOBE5B2DVYGJ
ALPACA_API_SECRET=4rA5EwwYN34XYuYKtyjnnfitWd3Hhb4XwyNRh7MG5gn4

# Bot B Alpaca (paper)
ALPACA_API_KEY_B=PKHVSYJBU6ZVVI6D2R4JGPZFPA
ALPACA_API_SECRET_B=FwwPBrSRxsZDNXpvYbaKjtorC62aBpZor3kJoKgJWwjT

# Bot C Alpaca (paper)
ALPACA_API_KEY_C=PKDACKYYKMAV74SZED44IKVK3O
ALPACA_API_SECRET_C=3DEeB1JMzGhQVeWpzRCxBsfPmfGiWERKZZjMg76tiEvd
